        * {
            font-family: 'Poppins', sans-serif;
        }

        #bathHeader {
            width: 80%;
            margin: auto;
            text-align: center;
        }

        #bathHeader>h1 {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 500;
        }

        #bathHeader>img {
            width: 100%;
        }


        #sortDiv {
            width: 80%;
            margin: auto;
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        }

        #sorter {
            padding: 10px;
            border: none;
            font-size: 16px;
            font-weight: lighter;
        }

        #sorter>option {
            padding: 10px;
            border: none;
            font-size: 16px;
            font-weight: lighter;
        }

        #bathDiv {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 500px) 1fr;
            gap: 15px;
            width: 83%;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        #bathDiv>div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        #bathDiv>div>img {
            width: 100%;
            margin-bottom: 20px;
        }

        #bathDiv>div>p {
            margin-top: 30px;
            margin-bottom: -10px;
        }

        #bathDiv>div>p:nth-child(2) {
            color: rgb(73, 73, 73);
            margin-top: 0px;
            font-weight: lighter;
            text-decoration: none;
            text-transform: capitalize;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        #bathDiv>div>p:nth-child(3) {
            font-weight: 600;
            margin-top: 0px;
            padding-top: 20px;
            box-sizing: border-box;
        }

        #bathDiv>div>p:nth-child(4) {
            font-weight: 500;
            margin-top: 0px;
        }

        #cartbtn {
            padding: 10px;
            background-color: black;
            color: white;
            font-weight: lighter;
            border: none;
            cursor: pointer;
            display: none;
        }

        #bathDiv>div:hover #cartbtn {
            display: block;
        }

        /* RATING STARS */
        :root {
            --star-size: 30px;
            --star-color: #eee;
            --star-background: #fc0;
        }

        .Stars {
            --percent: calc(var(--rating) / 5 * 100%);
            display: inline-block;
            font-size: var(--star-size);
            font-family: Times;
            line-height: 1;
        }

        .Stars::before {
            content: '★★★★★';
            letter-spacing: 3px;
            background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #ratingdiv {
            display: flex;
            align-items: center;
        }

        #ratingdiv>p {
            margin-right: 10px;
        }