*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color:white;
  width: 1000px;
  height: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  height: 60px;
  padding:10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 8px 7px;
  display: flex;
  gap: 20px;

}

.modal-body>div:nth-child(1){
  /* border: solid; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
border-radius: 5px;
  height: 420px;
  width: 450px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


#paybutton,#pay
{
  height: 40px;
  font-family: Poppins, sans-serif;
  background-color: black;
  width: 300px;
  color: white;
  gap: 10px;
  margin-left: 70%;
  margin-top: 15px;
  text-align: center;
  /* justify-content: right; */
  
}
#payimglogo
{
  line-height:18.4px;
vertical-align:middle;
letter-spacing:normal;
word-spacing:0px;
margin:0px 10px;
padding:0px;
}

input, label {

  margin: 5px 5px;
}

.form-group {

  margin:auto;
  width: 100%;
}
input
{
 
  width: 80%;
  height: 40px;
}
#Processed_to_payment
{
  background-color: black;
  color: white;
  cursor: pointer;
}
.form-control {
  float: left;
}
#popimagelogo
{
  width: 90px;
  height: 45px;
}
#dispaly_cart_product
{
  display: block;
  overflow:scroll;
  /* border: solid; */
  height: 400px;
  gap: 10px;
}

#innerProductsdiv{
  margin-top: 10px;
  display: flex;
 height: auto;
  /* border: solid 2px red; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  font-size: 13px;
  gap: 20px;
}
#imgcart
{
  height: 100px;
  width: 100px;
}

