


#upiDeatail
{
    border: solid;
    width: 62%;
   
    height: inherit;
    display: flex;
  justify-content: space-around;
   
}
/* #upiDeatail>div{
   border: solid;
  
   
} */
#UPiLOGOS
{
   
    background-color: white;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
hr{
    text-align: left;
    width: 60%;
    margin-left:10px;
}
#sendLink
{
    
   
    display: flex;
   gap: 30px;
   padding: 10px;
   
}
.ptag
{
    font-size: 16px;
}
.procedtopayment{
    margin-left: 0px;
    width: 320px;
  }
  .Checkout
  {
   margin-top: 18.5px;
    width: 320px;
    height: 40px;
    font-family: Poppins, sans-serif;
    background-color: black;
    width: 300px;
    color: white;
    gap: 10px;
    
    text-align: center;
    
  }
 
  /* #totalAmmounts
  {
    margin-bottom: 20px;
  } */