body{
    color: rgb(84, 84, 84);
}
#contain{
    display: flex;
}
#info{
    /* border:1px solid red; */
    height:auto;
    width:58%;
}
#logo{
    height:60px;
    width:auto;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 200px;
}
#path{
   margin-left: 200px;
   margin-top: 20px;
}
a{
   text-decoration: none;
   color:#1878b9;
   font-size: 12px;
}
#a{
   color:black;
}
#item{
   height:100px;
   width:65%;
   border:1px solid #ada7a7;
   margin-left: 200px;
   margin-top: 25px;
   border-radius: 8px;
}
#personal{
height:auto;
   width:65%;
   border:1px solid #ada7a7;
   margin-left: 200px;
   margin-top: 25px;
   border-radius: 8px;
   
}
#row1{
   display: flex;
   justify-content: space-between;
}
#row2{
   display: flex;
   justify-content: space-between;
}
#line{
    margin-top:0px;
}
#h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#333333;
font-size: 20px;
font-weight: 450;
margin-left:200px;
margin-top: 40px;
}
#p2{
   font-size: 14px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-left: 200px;
}
#payment{
   height:300px;
   width:65%;
   border:1px solid #ada7a7;
   margin-left: 200px;
   margin-top: 25px;
   border-radius: 8px;
}
#razo{
height:28px;
width: auto;
object-fit: contain;
margin-top: 15px;
margin-left:20px;
}
#opt{
height:50px;
width: auto;
object-fit: cover;
margin-top: 5px;
margin-left: 150px;
}
#firstRow{
display: flex;
}
#html{
margin-top: 20px;
height:22px;
width:22px;
}
#extra{
background-color: #fafafa;
}
#box{
height:72px;
width:110px;
object-fit: cover;
margin-left:230px;
margin-top: 30px;
}
#p3{
font-size: 14px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   width:72%;
   text-align: center;
   margin-left: 80px;
   margin-top: 0px;
}
#html2{
height:20px;
width:18px;
}
#secRow{
display: flex;
}
#cash{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#2c2c2c;
font-size: 16px;
font-weight: 600;
margin-top:3px;
margin-left: 10px;
}
#line1{
display: flex;
}
#line2{
display: flex;
}
#same{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#2c2c2c;
font-size: 16px;
font-weight: 600;
margin-top: 10px;
margin-left: 20px;
}
#method1{
margin-top: 10px;
height:20px;
width:18px;
}
#method2{

height:20px;
width:18px;
}
#diff{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#2c2c2c;
font-size: 16px;
font-weight: 600;
margin-top: 3px;
margin-left: 20px;
}
hr{
border:1px solid #f0f0f0;
}
#return{
display: flex;
margin-top: 30px;
justify-content: space-around;
}
#btn{
height:60.19px;
width:149.33px;
background-color: #1878b9;
color:#FFFFFF;
border:0px;
border-radius: 8px;
font-weight: bold;

}
#custom{
font-size: 16px;
margin-left:80px;
margin-top: 30px;
}
#hr1{
margin-top: 50px;
border:1px solid #f0f0f0;
width:85%;
margin-left: 50px;
}
#policy{
margin-top: 20px;
margin-left: 180px;
gap:20px;
}
#policy>a{
margin-left:15px;
}
#item2{
   height:auto;
   width:65%;
   border:1px solid #ada7a7;
   margin-left: 200px;
   margin-top: 25px;
   border-radius: 8px;
   
}
#diffFrom{
background-color: #fafafa;
}

/* add */
#area{
    height:400px;
    width:500px;
    /* border:1px solid red; */
    margin: auto;
    background-color: #fafafa;
}
#country{
    height:40px;
    width:480px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:1px solid #ada7a7;
    border-radius: 5px;
}
#name{
    margin: 30px;
    display: flex;  
    gap:20px;
    justify-content: space-around;
}
#firs{
    height:32px;
    margin-left: -20px;
    width:340px;
    border:1px solid #ada7a7;
    border-radius: 5px;
}
#las{
    height:32px;
    width:400px;
    border:1px solid #ada7a7;
    border-radius: 5px;
    margin-right:-20px;
}
#address,#office{
    height:32px;
    width:470px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:1px solid #ada7a7;
    border-radius: 5px;
}
#office{
    margin-top: 20px;
}
#location{
    display: flex;
    gap:20px;
    margin-top: 20px;
    justify-content: space-around;
}
#city{
    height:30px;
    width:100px;
    border:1px solid #ada7a7;
    border-radius: 5px;
}
#istate{
    height:36px;
    width:150px;
    border:1px solid #ada7a7;
    border-radius: 5px;
}
#pin{
    height:30px;
    width:130px;
    border:1px solid #ada7a7;
    border-radius: 5px;
}
#call{
    height:32px;
    width:470px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    border:1px solid #ada7a7;
    border-radius: 5px;
}

                   /* right Parts CSS */
#offers{
      background-color: #fafafa;
      height:1000px;
      width:42%;
}
#hor{
     width:40%;
}
#coupon{
   margin-top: 40px;
   margin-left: 40px;
}
#voucher{
   height:32px;
   width:320px;
   border-radius: 8px;
   border:1px solid #ada7a7;
}
#apply{
   height:38px;
   width:100px;
   margin-left:12px;
   border-radius: 8px;
   border:1px solid #ada7a7;
   background-color: #c8c8c8;
   color:white;
}
#hor1{
width:65%;
margin-left: 50px;
margin-top:20px;
}
#subtotal{
   display: flex;
   justify-content: space-around;
}
#sub{
   margin-left:-130px;
}
#total{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#2c2c2c;
font-size: 16px;
font-weight: 600;
}
#shipping{
display: flex;
   justify-content: space-around;
}
#ship{
margin-left:-130px;
margin-top:0px;
}
#total2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#2c2c2c;
font-size: 16px;
font-weight: 600;
margin-top:0px;
}
#final{
 display: flex;
 margin-left:-50px;
}
#grandTotal{
 display: flex;
 justify-content: space-around;
}
#grand{
margin-left:-90px;

}
#P_t{
    margin-top: 40px; 
    margin-right:10px;
    font-size: 14px;
}
#finalAmount{
margin-top: 30px; 
font-size: 30px;
margin-right:10px;
font-weight: 550;
color:black
}
#inc{
 margin-top:-10px;
}
#tc{
background-color: #c5a65b;
height:35px;
border:0px;
width:450px;
margin-left: 50px;
margin-top:20px;
color:#fff;
border-radius: 5px;
}
#appendedCart{
    height:400px;
    width:70%;
    overflow:scroll;
    margin-top: 60px;
    margin-left: 42px;
}
#div{
    display:flex;
    height:100px;
    width:100%;
}
#app1{
    margin-top: 20px;
   
   
}
#app2{
    margin-top:0px;
 
}
#nam{
    margin-top:20px;
    margin-left:20px;
}
#sheep{
    margin-top:0px;
    margin-left:20px;
}

#row1>a{
    margin-top:22px;
    font-size: 16px;
    margin-right:20px;
}
#row2>a{
    font-size: 16px;
    margin-right:20px;
}